@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {

/* Colors: */
--dark-gray: #707070;
--gray: #a5a5a5;
--light-gray: #e9e9e9;
--green: #7AFFD3;
--white: #FFFFFF;
--blue: #59C6F5;
--white-02: #fbfbfb;
--black: #3A3A3A;

/* Fonts: */
--font-primary: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.link{
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
}

body {
  max-width: 1920px;
  color: var(--black);
  max-height: 100dvh;
  height: 100dvh;
  font-family: var(--font-primary);
  background: radial-gradient(closest-side at 50% 53%, #EAF9FF 0%, var(--white-02) 90%);
  background-repeat: no-repeat;
  background-size: 150% 150%;
  opacity: 1;
}
.caution{
  margin-top: 1em;
  font-size: .65rem;
  text-align: center ;
}

.show{
  display: block;
  transform: translateX(0);
  pointer-events: auto;
}

.hide{
  display: none;
  transform: translateX(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;


}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
    font: normal normal normal 18px/30px Montserrat;
  letter-spacing: 0.18px;
}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

footer{
  color: var(--dark-gray);
  font-weight: 500;
  font-size: .85rem;
  text-align: center;
}
footer p{
  color: var(--dark-gray);
  font-weight: 500;
  font-size: .75rem;
  text-align: center;
}

.flex{
  display: flex;
  align-items: center;
}

.row-gap{
  row-gap: 1rem;
}
.column-gap{
  column-gap: 1rem;
}

.btn-primary{
  cursor: pointer;

  padding: .8em 2em;
  
  border: 1px solid var(--black);
  background: transparent linear-gradient(251deg, var(--blue) 0%, #5BC9F3 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  border-radius: 52px;
  opacity: 1;

  text-align: center;
  font: normal normal normal 18px/16px Montserrat;
  font-weight: 500 !important;
  letter-spacing: 0px;
  /* color: #FFFFFF; */
}

.btn-secondary{
  cursor: pointer;
  padding: .8em 2em;

  /* UI Properties */
  border: 2px solid var(--blue);
  border: 2px solid #59C6F5;
  border-radius: 52px;
  opacity: 1;
  background: none;

  color: var(--black);
  text-align: center;
  font: normal normal normal 18px/16px Montserrat;
  font-weight: 500 !important;
  letter-spacing: 0px;
}

.start-chat{
  cursor: pointer;
  width: 265px;
  height: 80px;
  border: 1px solid var(--black);
  /* UI Properties */
  background: transparent linear-gradient(255deg, var(--blue) 0%, #5BC9F3 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(255deg, #59C6F5 0%, #5BC9F3 0%, #7AFFD3 100%) 0% 0% no-repeat padding-box;
  border-radius: 52px;
  opacity: 1;

  /* color: var(--white); */
  text-align: center;
  font: normal normal normal 18px/16px Montserrat;
  font-weight: 500 !important;
  letter-spacing: 0px;
}

.btn-primary:focus, .btn-secondary:focus, .start-chat:focus{
  outline: none;
}


.btn-primary:hover, .btn-secondary:hover, .start-chat:hover{
  opacity: .90;
}



nav{
  /* background-color: var(--white); */
  background-color: none;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */

}

.home{
  min-height: 100%;
  text-align: center;
  justify-content: center;

  /* border: 2px solid red; */
 height: 70dvh;
}

.home h1{
  color: var(--black);
  text-align: center;
  font: normal normal normal 100px/100px Montserrat;
  letter-spacing: -7.5px;
}
.home h1 > span{
  color: var(--blue);
  font-weight: bold;

}
.home p {
  margin:2em 1em;
  font: normal normal normal 18px/30px Montserrat;
  letter-spacing: 0.18px;

}


/* Chat page styling */

section.chat{
  min-height: 100%;
  text-align: center;
  justify-content: flex-start;
  height: 85dvh;
  padding: 1em;
}

section.chat aside.chat-sidebar{
  width: fit-content;
  height: 100%;
  border: thin solid var(--light-gray);
  background: var(--white);
  border-radius: .5em ;

  display: flex;
  justify-content: space-between;
  align-items: top;

  padding: 1em;
  column-gap: 1em;

  text-align: left;
}


 .sidebar-btn{
  width: fit-content;
  padding: .5em;
  border-radius: .25em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;


  transition: all .2s ease-in-out;
}
 .sidebar-btn:hover{
  background-color: #f2f2f2;
}

.col-1{
  transition: all .5s ease-in-out;
}

.col-1 h3{
  font: normal normal normal 16px/30px Montserrat;
  letter-spacing: 0.18px;
  color: var(--gray);
  padding: .45em 0;
  
}
.col-1 ul{
 margin-top: 1em;
 color: var(--dark-gray);
}

.col-1 ul li {
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 0.12px;
  list-style: none;
  padding: 0.25em 0 0 0.85em;
  
  max-width: 200px;
  white-space: nowrap;        /* Ensures text stays in a single line */
  overflow: hidden;           /* Hides overflowing text */
  text-overflow: ellipsis;    /* Applies the ellipsis */
}

aside.chat-main-panel{
  

    width: 100%;
    height: 100%;


}
aside.chat-main-panel div.messages{
  font-size: 1.3rem;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    max-height: 80% !important;

    
}

div.chat-input{
   
  width: 43em;
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  align-items: center;

  border-radius: .5em;
  background-color: var(--white);
  padding: 1em 2.5em;
   
  border: thin solid var(--light-gray);


}
div.chat-input input{
  max-width: 100%;
  width: 100%;

  height: auto;
  border: none;
  outline: none;
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 0.18px;
  color: var(--black);
}

div.send-btn-disabled{
  width: fit-content;
  height: fit-content;
  padding:  1em;
  border-radius: 50%;

  background-color: var(--light-gray);
  color: var(--white);
  font-weight: 600;
  column-gap: .25em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: not-allowed;

}

div.send-btn{
  width: fit-content;
  height: fit-content;
  padding:  1em;
  border-radius: 50%;

  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  column-gap: .25em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all .2s ease-in-out;
}
div.send-btn:hover{
  background-color: #37bdf7;
}


.chat-room {
  max-width: 800px;
  width: 700px;

  max-height: 700px;
  height: 500px;

  overflow: auto;
  margin: 0 auto;
  padding: 1rem;
  background: none;
  /* border: thin solid red; */
  margin-bottom: 1em;
}

/* Container for each message */
.message-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  gap: 0.75rem;
}

/* Receiver message aligns left */
.message-row.receiver {
  justify-content: flex-start;
  text-align: left;
}

/* Sender message aligns right */
.message-row.sender {
  justify-content: flex-end;
   text-align: left;
}



/* Message bubble */
.message-bubble {
  max-width: 70%;
  padding: 0.6rem 1rem;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  word-wrap: break-word;
}

/* Receiver bubble style */
.message-row.receiver .message-bubble {
  background-color:none;
  color: var(--black);
  border-top-left-radius: 4px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

/* Sender bubble style */
.message-row.sender .message-bubble {
  background-color: var(--white);
  color: var(--dark-gray);
  border-top-left-radius: 18px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;

  
  border: thin solid var(--light-gray);
}


/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
   background: none; /* or transparent */
  border-radius: 8px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
   background: var(--white-02);
  border-radius: 8px;
  transition: all 1s ease-in-out;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray);
}



/* Login page */
.login-container, .register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1em 3em;
  border-radius: .5em;


  background-color: var(--white);
  border: thin solid var(--light-gray);
}

input[type="text"], input[type="password"]{
  width: 100%;
  max-width: 400px;
  height: 50px;
  padding: 0.5em;
  border-radius: .5em;
  border: thin solid var(--light-gray);
  outline: none;
  font-size: 1rem;

  margin-top: 1em;
}

.login-logo, .register-logo{
  margin: 4em 0;
}


/* ============================================ */
/* media queries */
@media (max-width: 992px) {
 nav{
  align-items: center;
  padding: 1em;
}

  .logo img{
    width: 150px;
    height: auto;
  }

  .home h1{
    font: normal normal normal 48px/48px Montserrat;
    letter-spacing: -4.5px;
  }

  p{
    font: normal normal normal 14px/16px Montserrat;
    letter-spacing: 0.10px;
  }



  .home{
    margin-top: 4em;
  }
  aside.chat-sidebar{
    display: none !important;
  }

  .chat-room {
    max-width: 100%;
    width: 100%;
    height: 400px;
  }

  div.chat-input{
    width: 100%;
    padding: .5em 1em;
    align-items: center;
    row-gap: 1em;
  }
  div.chat-input input{
    margin-top: 0em !important;
  }

  .empty-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1em;
  }
  .login-container, .register-container{
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 400px;
  }

  .login-logo, .register-logo{
    margin: 2em 0;
  }
  .login-logo img, .register-logo img{
   width: 180px;
    height: auto;
  }
}